# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/service_container.html
parameters:
    #parameter_name: value

services:
    #service_name:
    #    class: AppBundle\Directory\ClassName
    #    arguments: ['@another_service_name', 'plain_value', '%parameter_name%']

    app.task_manager:
        class: AppBundle\Manager\TaskManager
        arguments:
            - "@=service('Doctrine').getManager()"
    app.category_manager:
        class: AppBundle\Manager\CategoryManager
        arguments:
            - "@=service('Doctrine').getManager()"
    app.normalizer.category:
        class: AppBundle\Serializer\Normalizer\CategoryNormalizer
        tags:
            - { name: serializer.normalizer }